*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background: #151515;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: bisque;
  text-align: center;
  margin-bottom: 30px;
  font-size: 48px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button{
  border: none;
  outline: none;
  width: auto;
  cursor: pointer;
}